---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Guestbook from "../components/Guestbook";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import VisitorCounter from "../components/VisitorCounter";
---

<Layout>
	<Header client:load />
	<main>
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Guestbook client:load />
		<Contact />
	</main>
	<Footer />
	<VisitorCounter client:load />
</Layout>
